/* Declaración de variables*/
* {
  margin: 0;
  padding: 0;
}

:root {
  --naranjo: #ff4c0c;
  --gris: #575555;
  --blanco: white;
}

/* Personalización Corporativa*/
* {
  color: var(--gris);
}

.text-gris {
  color: var(--gris);
}

.contraste {
  color: var(--naranjo);
  font-weight: bold;
}

.contraste2 {
  color: var(--blanco);
  font-weight: bold;
}

.corp-brand {
  color: var(--gris);
  font-weight: bold;
}

.btn-corp {
  border-color: var(--naranjo);
  color: var(--naranjo);
}

.btn-card {
  background-color: var(--naranjo);
  color: var(--blanco);
  border: 1px solid var(--naranjo);
}

.btn-corp:hover {
  background-color: var(--naranjo);
  border-color: var(--naranjo);
}

.btn-card:hover {
  color: var(--naranjo);
  border: 1px solid var(--naranjo);
  background-color: var(--blanco);
}

.info-img {
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 5px;
}

.card-container {
  background-color: var(--naranjo);
  padding: 40px;
}

.banner-page {
  background-image: url(../img/back-banner.png);
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.antifix {
  margin-top: 60px;
}

/* ------- CONTACTO ----- */
.container-form {
  background-image: linear-gradient(
      50deg,
      rgb(183, 162, 147, 1) 50%,
      rgb(183, 162, 147, 0.5)
    ),
    url(../img/Banner-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form label {
  font-size: 1.2em;
  color: var(--blanco);
  padding-top: 5px;
}

:focus {
  outline: 1px solid var(--naranjo);
}

.min-height-400 {
  min-height: 400px;
}

/* -----------------------------*/
